@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Status and Priority Colors */
.status-gray {
  background-color: #d3d3d3;
  color: #333;
}

.status-blue {
  background-color: #add8e6;
  color: #0044cc;
}

.status-yellow {
  background-color: #fffacd;
  color: #996600;
}

.status-purple {
  background-color: #e6e6fa;
  color: #663399;
}

.status-green {
  background-color: #90ee90;
  color: #006400;
}

.status-red {
  background-color: #ffcccb;
  color: #cc0000;
}

.status-orange {
  background-color: #ffdab9;
  color: #e65100;
}

/* Common style for status and priority labels */
.status-class {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}


.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}

.sidebar h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Colors of Groups */
.color-orange span {
  background-color: orange !important;
}

.color-blue span {
  background-color: #0173ea !important;
}

.color-green span {
  background-color: green !important;
}

/* Text inside status */
.statusText {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.background-blue {
  background-color: #0173ea;
}

.background-red {
  background-color: #d83951;
}

.background-purple {
  background-color: #9d50dd;
}

.background-yellow {
  background-color: #ffcb00;
}

/* Padding to Status Cells inside table */
.padding-status {
  padding: 0.25px 0.5px;
}

/* Navigation Container */
.nav-container {
  display: flex;
  padding: 8px 0;
  justify-content: flex-start;
  gap: 12px;
}

.width-dropdown {
  width: 150px;
}

.z-index-dropdown {
  z-index: 10;
}

.background-dropdown {
  background-color: #d1ecef;
}
/* Reduce the width of the default vertical scrollbar */
html {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

body::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
  
}

body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.skeleton-loader {
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f2f2f2 50%,
    #e0e0e0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover effect for the scrollbar thumb */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}
